<form>
  <input id="movies_search" autocomplete="off"type="text" name="term"/>
  <button type="submit">Search</button>
 </form>




<% @recipes.each do |recipe| %>
  <% recipe_author = User.find_by_id(recipe.user_id) %>

  <div class="col s12 m7">
     <div class="card horizontal small">
       <div class="card-image">
         <%= image_tag(recipe.photo_url.to_s) %>
       </div>
       <div class="card-stacked">
         <div class="card-content">
           <h4><%= recipe.title %></h4>
           <p><%= recipe.description %></p>
           <p><%= recipe.ingredients %></p>
         </div>
         <div class="card-action">
           <%= link_to "View Recipe", recipe_path(recipe) %>
         </div>
       </div>
     </div>
   </div>
   <br>




<% end %>

<%= paginate @recipes %>
