<form>
  <input id="movies_search" autocomplete="off"type="text" name="term"/>
  <button type="submit">Search</button>
 </form>



<% @recipes.each do |recipe| %>
<% recipe_author = User.find_by_id(recipe.user_id) %>
  <ul class="collection">
    <li class="collection-item avatar">
      <span class="title"><%= link_to recipe.title, recipe_path(recipe)%></span>
    <p><br>
       <%= recipe.description %>
       <%= recipe.prep_time %>
       <%= recipe.cook_time %>
       <%= recipe.ease %>
       <%= recipe.ingredients %>
       <%= recipe.instructions %>
       <%= recipe.serves %>
       <%= recipe.photo %>
    </p>
      <a href="#!" class="secondary-content">
        <i class="material-icons">Post by <%= recipe_author.name %></i>
      </a>
    </li>
  </ul>
<% end %>
