<ul class="collection">
  <li class="collection-item avatar">
    <img src="<%=@user.picture%>" alt="" class="circle">
    <span class="title"><h5><%= @recipe.title %></h5></span>
    <p><br>
       <%= @recipe.description %>
    </p>
    <a href="#!" class="secondary-content"><i class="material-icons">Post by <%= @user.name %></i></a>
    <hr>
    <%= link_to "Edit Recipe", edit_user_recipe_path(@user), :class=>"waves-effect waves-light btn" %>
    <%= link_to "Delete", "/users/#{params[:user_id]}/recipes/#{:recipe_id}", :class=>"waves-effect waves-light grey btn", method: :delete, data: { confirm: "You sure?" } %>
  </li>
  <!-- Why a ul with only one list item? Get rid of ul and change li to something else. -->
</ul>
