  <ul class="side-nav fixed profile-menu">
      <li><div class="user-view">
        <div class="background">
          <img src="http://www.misucell.com/data/out/10/IMG_373670.gif" id="prof_back">
        </div>
        <div class="user-info">
          <%= link_to image_tag(@user.picture_url.to_s, :class=>"circle"), user_path(@user)%>
          <h5> <%= @user.name %> </h5>
          <h5> <%= @user.username %> </h5>
        </div>
      </div></li>
      <li><%= link_to "Recipes", user_recipes_path(@user), :class=> "waves-effect" %></li>
      <li><%= link_to "Reviews", user_reviews_path(@user), :class=> "waves-effect" %></li>
      <li><%= link_to "Favorites", user_favorites_path(@user), :class=> "waves-effect" %></li>
      <li><%= link_to "Following", user_followings_path(@user), :class=> "waves-effect" %></li>
      <li><%= link_to "Followers", user_followers_path(@user), :class=> "waves-effect" %></li>
      <% if same_as_current_user? %>
        <li><%= link_to "Edit Profile", edit_user_registration_path(@user), :class=> "waves-effect" %></li>
        <li><%= link_to "Open Fridge", user_fridge_path(@user), :class=> "waves-effect" %></li>
      <% end %>
  </ul>
   <% content_for :head do %>
  <style>

    body {
    font-family: 'Crushed', cursive;
    font-family: 'Federant', cursive;
    font-family: 'Raleway', sans-serif;
      font-size: 20px;
    }
    h1 {
      font-size: 2.2rem;
    }

  </style>
<% end %>
