  <ul class="side-nav fixed profile-menu">
      <li><div class="user-view">
        <div class="background">
          <img src="https://www.photohdx.com/images/2016/11/white-embossed-paper-texture-backdrop.jpg">
        </div>
        <div class="user-info">
          <%= image_tag(@user.picture_url.to_s, :class=>"circle") %>
          <!-- <img class="circle" src="http://enadcity.org/enadcity/wp-content/uploads/2017/02/profile-pictures.png"> -->
          <h5> <%= @user.name %> </h5>
          <h5> <%= @user.username %> </h5>
        </div>
      </div></li>
      <li><%= link_to "Recipes", user_recipes_path(@user), :class=> "waves-effect" %></li>
      <li><%= link_to "Reviews", user_reviews_path(@user), :class=> "waves-effect" %></li>
      <li><%= link_to "Favorites", user_favorites_path(@user), :class=> "waves-effect" %></li>
      <li><%= link_to "Following", user_followings_path(@user), :class=> "waves-effect" %></li>
      <% if same_as_current_user? %>
        <li><%= link_to "Edit Profile", edit_user_registration_path(@user), :class=> "waves-effect" %></li>
        <li><%= link_to "Open Fridge", user_fridge_path(@user), :class=> "waves-effect" %></li>
      <% end %>
  </ul>
