<%= render 'profile_menu' %>


<div class="row profile-content">
  <div class="col s8 push-s3">
    <h2><%= "Who #{@user.name} is Following"%></h2>
  </div>
</div>

<div class="row">
  <% @follows.each do |follow| %>
    <div class="col s2 push-s3">
      <div class="card">
        <div class="card-image-follow">
          <%= link_to image_tag(follow.picture_url.to_s, :class => "follow-pic"), user_path(follow) %>
        </div>
        <div class="card-content">
          <h4><%= follow.name %></h4>
          <big><%= follow.username %></big>
        </div>
        <div class="card-action">
          <a><%= link_to "Go to Profile", user_path(follow)%></a>
        </div>
      </div>
    </div>
    <% end %>
  </div>
