


<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <%= link_to "Spork", root_path, :class=> 'brand-logo'%>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><i class="red-text material-icons prefix">search</i></li>
        <li><div class="col s12 " >
                <div class="row" id="topbarsearch">
                    <div class="input-field col s6 s12 red-text">                     
                        <form action="/recipes" method="get">
                          <input id="recipes_search" autocomplete="off" type="text" name="term" placeholder="search"/>
                        </form>
                    </div>
                </div>
            </div>
        </li>
      <% if current_user %>
        <li> Hello, <%= current_user.username %></li>
        <li><%= link_to'Profile', user_path(current_user) %></li>
        <li><%= link_to'Log Out', destroy_user_session_path, :method=> 'delete' %></li>
      <% else %>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
  	  <li><%= link_to'Sign Up', new_user_registration_path%></li>
      <% end %>
      </ul>
    </div>
  </nav>
</div>
