<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css?family=Crushed|Federant|Raleway" rel="stylesheet">
  <head>
    <title>ProjectSporks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= stylesheet_link_tag %>
      <%= yield(:head) %>
    <div><%= render 'layouts/navigation' %> </div>

    <%= yield %>
  </body>

</html>
